# Django
DJANGO_SETTINGS_MODULE=core.settings.development
SECRET_KEY=your-very-secret-key-here-change-in-production
DEBUG=True

# Email (Exemplo Gmail)
DEFAULT_FROM_EMAIL=pynerd.mvp@gmail.com
EMAIL_HOST_USER=pynerd.mvp@gmail.com
EMAIL_HOST_PASSWORD=vgvomssogacjbygt

# Database
DB_NAME=academico_db
DB_USER=academico_user
DB_PASSWORD=strongpassword
DB_HOST=localhost
DB_PORT=5432

# JWT
JWT_ACCESS_TOKEN_MINUTES=60
JWT_REFRESH_TOKEN_DAYS=7

# CORS (production only)
CORS_ALLOWED_ORIGINS=https://yourdomain.ao

# Hosts (production only)
ALLOWED_HOSTS=yourdomain.ao,www.yourdomain.ao
